html {
   box-sizing: border-box;
}

body {
   font-family: 'Roboto',sans-serif;
   letter-spacing: 0.03em;
   color: var(--main-text-color);
}
:root {
   --main-text-color:#212121;
   --text-color:#757575;
   --header-fone-color:#FFFFFF;
   --footer-fone-color:#2F303A;
   --accent-color:#2196F3; 
   --button-color:#F5F4FA;
   --button-text-color:#212121;
   --card-set:30px;

/* Цвет заголовков текста #212121 */
/* Цвет  текста #757575 */
/* Основной цвет фона #E5E5E5 */
/* Цвет фона шапки #FFFFFF */
/* Цвет фона подвала  #2F303A */
/* Активный цвет #2196F3 */
/* Основной цвет кнопки #F5F4FA;*/
/* Основной цвет текста в кнопке #212121;*/
/* Расстояние между карточками 30px */
}
h1, h2, h3, h4, h5, h6, p {
   margin: 0px;
}
ul {
   list-style: none;
   padding   : 0px;
   margin    : 0px;
}
.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
img {
   display: block;
   max-width: 100%;
}
/* Шапка */
.header-sektion {
   background-color: var(--header-fone-color);
   padding-top: 24px;
   padding-bottom: 25px;
   border-bottom:  1px solid #ECECEC;
}
.list-header {
   display: flex;
}
/* Логотип */
.logo {
   font-family: 'Raleway',sans-serif;
   font-size  : 26px;
   line-height: 1.2;
   color: var(--accent-color);
   letter-spacing: 0.03em;
   text-decoration: none;
}
.accent {
   color: black;
}
.accent-footer {
   color: white;
}

/* Навигация */

.site-nave {
   color: var(--main-text-color);
   font-weight: 500;
   font-size  : 14px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   text-decoration: none;
  
}
.site-nave:hover,
.site-nave:focus {
   color: var(--accent-color);
}
.site-nave-studio {
   color         : var(--main-text-color);
font-weight   : 500;
font-size     : 14px;
line-height   : 1.2;
letter-spacing: 0.02em;
text-decoration: none;
} 
.site-nave-studio:hover,
.site-nave-studio:focus,
.site-nave-studio:active,
.site-nave-studio:visited {
   color: var(--accent-color);
}
.site-nave-portfolio {
   color         : var(--main-text-color);
font-weight   : 500;
font-size     : 14px;
line-height   : 1.2;
letter-spacing: 0.02em;
text-decoration: none;
}
.site-nave-portfolio:hover,
.site-nave-portfolio:focus,
.site-nave-portfolio:active,
.site-nave-portfolio:visited {
   color: var(--accent-color);
}
.list-nave {
   display: flex;
}
/* Контакты */
.contakts-nave {
   color: var(--text-color);
   font-weight: 500;
   font-size  : 14px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   text-decoration: none;
}
.contakts-nave:hover,
.contakts-nave:focus {
   color: var(--accent-color);
}
.list-contakts {
   display: flex;
}

/* Основной блок */
/* Герой */
.hero {
  background-color: var(--footer-fone-color);
  text-align: center;
}
.hero-name {
   color: var(--header-fone-color);
   font-weight: 900;
   font-size  : 44px;
   line-height: 1.4;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   margin-top: 0px;
   margin-bottom: 30px;
   padding-top: 200px;
}
.section-title {
   font-weight: bold;
   font-size  : 36px;
   line-height: 1.2;
   text-align: center;
   margin-top: 0px;
   margin-bottom: 50px;
}
.advantages-title {
   font-weight   : bold;
   font-size     : 14px;
   line-height   : 1.1;
   text-transform: uppercase;
   margin-top: 0px;
   margin-bottom: 10px;
}
.advantages-text {
   color: var(--text-color);
   font-size  : 14px;
   line-height: 1.7;
   margin-top: 0px;
   margin-bottom: 0px;
}
.section-advantages {
   padding-top: 94px;
   padding-bottom: 94px;
}
.section-work {
   padding-bottom: 94px;
}
.name {
   font-weight: 500;
   font-size  : 16px;
   line-height: 1.2;
   margin-top: 30px;
   margin-bottom: 10px;
}
.specialty {
   color: var(--text-color);
   font-size  : 16px;
   line-height: 1.2;
   margin-top: 0px;
   margin-bottom: 0px;
}
.section-team {
   padding-top: 94px;
   padding-bottom: 0px;
}
.card-team {
   width: 270px;
   height: 368px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
   0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   text-align: center;
}
/* portfolio */
/* Наши работы */
.title-of-works {
   font-weight: bold;
   font-size  : 18px;
   line-height: 2;
   margin-top: 20px;
   
}
.text-of-works {
   color: var(--text-color);
   font-size  : 16px;
   line-height: 1.9;
   margin-top: 4px;
}
.card {
   flex-basis: calc (100%/3 - var(--card-set));
   background: var(--header-fone-color);
   margin-top: var(--card-set);
   margin-left: var(--card-set);
}
.list-work {
   display: flex;
   flex-wrap: wrap;
   margin-top: calc(-1*var(--card-set));
   margin-left: calc(-1*var(--card-set));
}
.card-content {
   padding-right: 24px;
   padding-left: 24px;
   padding-bottom: 20px;
}
/* Кнопки */

.button-primary {
   display: inline-block;
   background-color:var(--button-color);
   color:var(--button-text-color);
   font-family: inherit;
   cursor: pointer;
   font-weight: 500;
   font-size  : 16px;
   line-height: 1.6;
   text-align: center;
   border-radius: 4px;
   padding: 6px 22px;
}
.button-primary:hover,
.button-primary:focus {
  background-color:var(--accent-color);
  color:var(--header-fone-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-button {
   display: flex;
   justify-content: center;
}
.button-lokation {
   margin-left: 8px;
}
.button-main {
   background-color:var(--accent-color);
   color:var(--header-fone-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   font-family: inherit;
   cursor: pointer;
   font-weight: bold;
   font-size  : 16px;
   line-height: 1.9;
   letter-spacing: 0.06em;
   padding: 10px 32px;
   border-radius: 4px;
   text-align: center;
}
.button-main:hover,
.button-main:focus {
   background-color:var(--button-color);
   color:var(--button-text-color);
}
.section-button-main {
   padding-bottom: 200px;
}
.section-button {
   margin-top: 94px;
   margin-bottom: 50px;
}

/* Подвал */
.footer-sektion {
   background:var(--footer-fone-color);
   padding-top: 60px;
   padding-bottom: 60px;
   margin-top: 94px;
}
.adress {
    color:var(--header-fone-color);
    font-style: normal;
    font-size  : 14px;
    line-height: 1.7;
    margin-top: 20px;
    margin-bottom: 9px;
}
.contakts-footer {
   color: rgba(255, 255, 255, 0.6);
   font-style : normal;
   font-size  : 14px;
   line-height: 1.7;
   text-decoration: none;
   margin-bottom: 9px;
}
.contakts-footer:hover,
.contakts-footer:focus {
   color: var(--accent-color);
}